<!-- REMEMBER FOR 2-WAY DATA BINDING TEMBLATE DRIVEN FORMS (10:40:00) CANT BE USED ON STANDALONE PROJECTS
    ONLY REACTIVE FORMS ARE USED, HOWEVER ON NGMODULE BASE PROJECT BOTH CAN BE USED -->

<form>
    <div class="form-group">
        <input type="text" name="roomType" class="form-control" placeholder="Room Type"  >
    </div>
    <div class="form-group">
        <input type="text" name="amenities" class="form-control" placeholder="amenities">
    </div>
    <div class="form-group">
        <input type="number" name="price" class="form-control" placeholder="price">
    </div>
    <div class="form-group">
        <input type="text" name="photos" class="form-control" placeholder="photos">
    </div>
    <div class="form-group">
        <input type="datetime" name="checkinTime" class="form-control" placeholder="checkinTime">
    </div>
    <div class="form-group">
        <input type="datetime" name="checkoutTIme" class="form-control" placeholder="checkoutTIme">
    </div>
    <div class="form-group">
        <input type="number" name="rating" class="form-control" placeholder="rating">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">
            Submit
        </button>
    </div>

</form>