<!-- main -->
<!-- <app-rooms></app-rooms> -->


<!-- h1 will be rendered inside app-container becoz of ng-content but if same 
h1 placed inside app-rooms it will not render h1 && ng-content is also used to set
order of render irrespective of what placed here it will always displayorder from 
inside app-contiainer-->
<!-- <app-container>
    <h1>This is from container</h1>
    <app-rooms></app-rooms>
    <app-employee></app-employee>
</app-container> -->



<!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'User'">Welcome User</div>
    <div *ngSwitchCase="'Admin'">
        <app-rooms></app-rooms>
    </div>
    <div *ngSwitchDefault>
        Nothing
    </div>
</div> -->

<!-- <div #test></div> -->

<!-- ng-template is used for dynamic rendering via viewchild -->
<!-- <div>
    <ng-template #user></ng-template>
</div> -->

<!-- <a [routerLink]="'rooms'">To Rooms</a>
<a [routerLink]="'employee'">To Employees</a> -->
<!-- <router-outlet></router-outlet> -->
<app-app-nav></app-app-nav>